/* styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Cairo:wght@900&family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Cairo:wght@900&family=Inter:wght@100..900&family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mantine-Carousel-container {
    gap: 2rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: border-color 0.15s ease-in-out;
    cursor: pointer;
    -webkit-transition: border-color 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out;
    -ms-transition: border-color 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out;
    -ms-transition: border-color 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out;
}

/* Add custom styles for the checked state */
input[type="radio"]:checked {
    border: 6px solid #007bff;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    color: white;
}

/* ------------ */